# 1- Question 
1-read you csv file (https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds.csv )

2-print the first 5 rows 

3-print the shape of the data

4- print and data type of each column

In [2]:
import pandas as pd
import numpy as np
data = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds.csv", nrows=5)
print(data)
print(data.shape)
print(data.dtypes)

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5     55    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8     61    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9     65    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4     58    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3     58    335  4.34  4.35  2.75
(5, 10)
carat      float64
cut         object
color       object
clarity     object
depth      float64
table        int64
price        int64
x          float64
y          float64
z          float64
dtype: object

# 2-Question
1- print carat column

2- Write a Pandas program to create a new 'Quality -color' Column (cut,color)

examble => ( Ideal, E)

In [8]:
carat_col = data["carat"]
print(carat_col)

0    0.23
1    0.21
2    0.23
3    0.29
4    0.31
Name: carat, dtype: float64

# 3-Question
1-Write a Pandas program to summarize the data.

2- only one column => 'table'

3- only 'float64' columns of the diamonds Dataframe. => include=['...']

In [6]:
data.describe()
data['table'].describe()
data.describe(include=["float64"])

          carat      depth         x         y        z
count  5.000000   5.000000  5.000000  5.000000  5.00000
mean   0.254000  60.780000  4.086000  4.094000  2.48600
std    0.043359   2.525272  0.184201  0.201321  0.19718
min    0.210000  56.900000  3.890000  3.840000  2.31000
25%    0.230000  59.800000  3.950000  3.980000  2.31000
50%    0.230000  61.500000  4.050000  4.070000  2.43000
75%    0.290000  62.400000  4.200000  4.230000  2.63000
max    0.310000  63.300000  4.340000  4.350000  2.75000

# 4-Question
Write a Pandas program to find the details of the diamonds where length>5, width>5 and depth>5. (x,y,z)

In [18]:
x5 = data["x"]>5
y5=data["y"]>5
z5=data["z"]>5
x5.describe()
y5.describe()
z5.describe()

count         5
unique        1
top       False
freq          5
Name: z, dtype: object

# 5-Question
1- rename one col

2- rename two col togeather

3- rename all col togeather

In [29]:
data.rename(columns={"carat": "Carat"})
data.rename(columns={"cut" : "Cut", "clarity":"Clarity"})
data.rename(columns={"Carat":"carat", "Clarity":"clarity", "Cut":"cut"})

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5     55    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8     61    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9     65    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4     58    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3     58    335  4.34  4.35  2.75

# 6-Question
Write a Pandas program to find the diamonds that are either Good or Very Good.

In [39]:
filt_good=data["cut"]=="Good"
filt_vgood=data["cut"]=="Very Good"
filt_good.describe()
filt_vgood.describe()

count         5
unique        1
top       False
freq          5
Name: cut, dtype: object

# 7-Question
1-print the name of all the columns

2- Mean of each column

3-Mean of each row of diamonds DataFrame:

In [51]:
data.columns
data.mean()
data.mean(axis=1)

/tmp/ipykernel_10050/2805646200.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data.mean()
/tmp/ipykernel_10050/2805646200.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data.mean(axis=1)

0    64.727143
1    65.292857
2    65.651429
3    66.535714
4    66.864286
dtype: float64

# 8-Question
1- mean of 'price' column only

2- Write a Pandas program to calculate the mean of price for each cut of diamonds DataFrame.

3-Write a Pandas program to calculate count, minimum, maximum price for each cut of diamonds DataFrame.

4- count how many times each value in cut series of diamonds DataFrame occurs. value_counts()

In [52]:
data["price"].mean()

329.6

# 9-Question
Write a Pandas program to count the number of missing values in each Series of diamonds DataFrame.